<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New component!</title>
    <script type="module" src="component.js"></script>
  </head>
  <!-- Note that these style options controll the dragability and user selection of a component -->
  <body style="-webkit-app-region: drag; -webkit-user-select: none;">
    <div>
      <h1 id="TimeTitle" class="Center"></h1>
      <h2 id="DateTitle" class="Center"></h2>
    </div>
  </body>
</html>
